<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062957423278-hhqhrcmu82i4hs6jh0ek1j65bmo633s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062957423278-hhqhrcmu82i4hs6jh0ek1j65bmo633s7</string>
	<key>API_KEY</key>
	<string>AIzaSyBHYN3U19DAEreo5F90qGMSeTNJrNZqktE</string>
	<key>GCM_SENDER_ID</key>
	<string>1062957423278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.MarkThieu.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-a0c33</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-a0c33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062957423278:ios:61af4275eb78a9a1f6ab3f</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios-13-a0c33.firebaseio.com</string>
</dict>
</plist>